.App {
  text-align: center;
  height: 100vh;
}

.App-name {
  height: 5vh;
  color: #ff8e3c;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
}

.App-header {
  background-color: #eff0f3;
  display: flex;
  flex-direction: column;
}

.App-body {
  height: 75vh;
  background-color: #fffffe;
  font-size: calc(10px + 2vmin);
  color: #0d0d0d;
  font-weight: bold;
}

.App-footer {
  height: 15vh;
  background-color: #eff0f3;
}
